<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="practicas.simarro.bancojesus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BancoJesus">
        <!--<activity android:name=".fragment.Fragment_Movimientos"></activity>
        <activity android:name=".fragment.Fragment_Cuentas" />-->
        <activity android:name=".principal.Movimientos" />
        <activity android:name=".principal.PosicionGlobal" />
        <activity
            android:name=".principal.Transferencias"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".principal.CambioContra" />
        <activity android:name=".principal.PrincipalActivity" />
        <activity android:name=".principal.AccesoActivity" />
        <activity android:name=".principal.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>